Flask==3.1.0
Flask-CORS>=4.0.1
deepface==0.0.93
numpy<2
opencv-python-headless==4.11.0.86

tensorflow>=2.10,<2.16
tf-keras==2.15.0

pymongo>=4.0.0
python-dotenv>=1.0.0
requests>=2.26.0
pytest
certifi==2023.7.22