.home-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#webcam {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-content: center
}

#result {
    background-color: yellow;
}

#stopStart {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#result-box {
    background-color:pink;
    display: flex;

}

.songs-container {
    max-width: 800px;
}

.song-item {
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
    background-color: lightgray;
}

.emotion-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.song-info {
    background-color: lightgray;
}

.spotify-link {
    display: inline-block;
    margin-top: 10px;
    background-color: #1DB954;
    color: black;
}

audio {
    width: 100%;
    margin: 10px 0;
}